body{
    background-color: whitesmoke;
    font-family: sans-serif;
}
.logdiv{
    width: 200px;
    height: 600px;
}
#login {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
   
}
#login h1{
    text-align: center;
   border-radius: 10px;
   
}
#email,#pswd{
    width: 300px;
    height: 30px;
}
#login .logdiv {
   border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#form{
    text-align: center;
    width: 300px;
    height: 290px;
    background-color: white;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px grey;
    font-size: 30px;
}

#form .btn button{
    height: 35px;
    width: 150px;
    border: none;
    background-color: rgb(59, 59, 254);
    color: white;
    border-radius: 5px;
}
#login .a{
    font-size: 13px;
    text-align: center;

}
#login .a a{
    text-decoration:none ;
    color: red;
}

#login .bt2 button{
    padding: 5px;
    background-color: rgb(49, 203, 43);
    border: none;
    border-radius: 5px;
    color:white;
    font-size: 17px;
}